@charset "utf-8";
body {
    background-color: #38293d;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 3;
    text-align: center;
} 
header {
    color: #be98c9;
    font-size:large;
    text-align: center;
    text-shadow: 0px 3px 6px;
}
section { 
    border: 2px #1b0f1f;
    border-radius: 20px;
    padding: 20px;
}
 footer {
    background-color: #1b0f1f;
    border-radius: 20px;
 }
 h1 {
    background-color: #1b0f1f;
 }
 h2 {
    background-color: #1b0f1f;
 }
 p {
    color: #be98c9;
    text-align: left;
    background-color: 231627;
 }
 ul {
    text-align: left;
    color: #be98c9
 }
